html {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
}
/* .trade-winds-regular {
    font-family: "Trade Winds", system-ui;
    font-weight: 400;
    font-style: normal;
}
.slackey-regular {
    font-family: "Slackey", sans-serif;
    font-weight: 400;
    font-style: normal;
  }   */

/* @media (max-width: 400px) {
    .item-for-sale-div {
        display: block;
        margin-left: ;
        margin-right: auto;
    }
    
} */

a {
    text-decoration: none;
}
a:hover {
    cursor: pointer;
}

/* LINKS, COLORS, VISITED, HOVER, ACTIVE */
a:link,
a:visited {
    color: rgb(16, 101, 16);
}

a:hover {
    text-decoration: underline;
}

/* FAQ ANSWERS */
.answer {
    font-family: "Boogaloo", Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    font-weight: 100;
    margin-top: 0;
    margin-bottom: 100px;
    margin-left: 50px;
    margin-right: 50px;
    font-weight: 600;
    background-color: rgb(210, 244, 210);
    padding: 10px;
    border-radius: 7px;
}

.faqs-intro {
    font-family: "Boogaloo";
    font-size: 1.5rem;
    margin: 30px;
    text-align: center;
}

footer {
    font-family: "Slackey";
    background-color: rgb(154, 230, 78);
    color: rgb(86, 101, 110);
    text-align: center;
    font-size: 30px;
    border-radius: 10px;
    margin: 40px auto;
    width: 400px;
}

h1, h2 {
    color:  rgb(86, 101, 110);
    text-align: center;
    margin-top: 80px;
    font-family: "Slackey";
}
h2.subheader {
    font-size: 1.5rem;
    margin-top: 30px;
    margin-bottom: 30px;
}

header {
    margin-top: 20px;
}

.home-flower {
    width: 100px;
    height: 100px;
    float: left;
}

/* TEST STYLES */
.image-gallery {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    justify-content: center;
}

.item-anchor {
    display: block;
}
.item-for-sale-div {
    display: inline-block;
    max-width: 300px;
    height: 500px;
    margin: 20px;
    padding: 15px;
    /* border: solid red 2px; */
    display: inline-block;
    /* background-color: rgb(200, 241, 200); */
    background-color: rgb(154, 230, 78);
    border-radius: 10px;
}

.item-name {
    margin: 0;
    padding: 0;
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: "Slackey";
    font-size: 1.7rem;
    color: rgb(86, 101, 110);
    overflow-wrap: break-word;
}

.item-picture {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
    transition: transform .4s;
}
.item-pic-div {
    overflow: hidden;
    border-radius: 10px;
}
.item-picture:hover {
    transform: scale(1.1);
    overflow: hidden !important;
}

.item-price {
    font-family: "Boogaloo";
    margin: 0;
    font-weight: bold;
    font-size: 2rem;
    color: rgb(86, 101, 110);
}

.main-logo {
    width: 200px;
    display: inline-block;
    margin-left: 20px;
}

.navbar {
    overflow: hidden;
    background-color: rgb(154, 230, 78); 
    display: inline-block; 
    border-radius: 20px;
    margin: 20px;
}
.navbar a {
    float: left;
    display: block;
    color: rgb(86, 101, 110);
    text-align: center;
    padding: 10px 16px;
    text-decoration: none !important;
    font-family: "Slackey";
    font-size: 20px;
    font-weight: bold;
}
.navbar a:hover {
    background-color: rgba(114, 175, 49, .5);
    color:rgb(86, 101, 110);
    border-radius: 20px;
}

/* CLICK TO CALL BANNER */
.order-banner {
    font-family: "Slackey", Arial, Helvetica, sans-serif;
    color: rgb(86, 101, 110);
    float: right;
    margin: 30px 30px auto;
    border-radius: 30px;
    background-color: rgb(154, 230, 78);
    padding: 10px;
    border: 4px solid rgba(114, 175, 49, .5);
    font-size: 30px;
    /* width: 350px; */
    max-width: 400px;
    text-align: center;
    transition: .25s ease-in-out;
}

.order-banner:hover {
    border-width: 10px;
    transition: .25s ease-in-out;
}

p {
    font-family: "Boogaloo", Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    padding: 30px;
    text-align: center;
}

.product-container {
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* FAQ QUESTIONS */
.question {
    font-family: "Boogaloo", Arial, Helvetica, sans-serif;
    font-size: 2rem;
    margin: 30px 30px 0 30px;
    font-weight: bold;
    background-color: rgb(154, 230, 78);
    padding: 10px;
    font-size: 1.5rem;
    border-radius: 7px;
    color: rgb(16, 101, 16);
    text-align: center;
}

.search-bar {
    text-align: center;
    padding: 6px 5px;
    border: none;
    border-radius: 4px;
    vertical-align: center;
}
.search-button {
    border: none;
}

select {
    padding: 8px 12px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.spacing-flower {
    height: 80px;
    display: flex;
    justify-content: center;
}

.tiki-type-header {
    background-color: rgb(154, 230, 78);
    border-radius: 23px;
    padding: 15px;
    margin-top: 80px;
}

.variant-selector {
    margin-bottom: 20px;
}

.variant-image {
    max-width: 250px;
    height: auto;
    border-radius: 4px;
    border: 2px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    /* Hide all images by default */
    display: none;
}

/* Show the active image */
.variant-image.active {
    display: flex;
}

.welcome {
    font-family: "Slackey", Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    padding: 30px;
    text-align: center;
    color:rgb(86, 101, 110);
}









/* Testing some zooming on starfish tiki page below */
/* ALL STYLES BELOW ARE ON EACH ITEM PAGE */

.main-prod-img {
    width: 200px;
    border-radius: 20px;
    margin: 10px 10px;
    cursor: zoom-in;
    transition: transform 0.5s ease;
}
/* Keeps images in a line */
.zoomed {
    display: inline-block;
}
/* Hides the zoom checkbox */
#zoom-1,
#zoom-2,
#zoom-3,
#zoom-4,
#zoom-5,
#zoom-6,
#zoom-7,
#zoom-8 {
    display: none;
}
/* Locks website page scrolling while product picture is zoomed in  */
body:has(#zoom-1:checked, 
#zoom-1:checked, 
#zoom-2:checked, 
#zoom-3:checked, 
#zoom-4:checked, 
#zoom-5:checked, 
#zoom-6:checked, 
#zoom-7:checked, 
#zoom-8:checked) {
    overflow: hidden;
}

/* Backdrop that covers the background when zoomed in */
.backdrop {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.90);
    z-index: 9998;
    cursor: zoom-out;
}
/* What happens when you click to zoom */
#zoom-1:checked ~ label img,
#zoom-2:checked ~ label img,
#zoom-3:checked ~ label img,
#zoom-4:checked ~ label img,
#zoom-5:checked ~ label img,
#zoom-6:checked ~ label img,
#zoom-7:checked ~ label img,
#zoom-8:checked ~ label img {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(4);
    cursor: zoom-out;
    max-width: 90vw;
    max-height: 90vh;
    z-index: 9999;
}
/* Backdrop actually covering while zoomed in */
#zoom-1:checked ~ .backdrop,
#zoom-2:checked ~ .backdrop,
#zoom-3:checked ~ .backdrop,
#zoom-4:checked ~ .backdrop,
#zoom-5:checked ~ .backdrop,
#zoom-6:checked ~ .backdrop,
#zoom-7:checked ~ .backdrop,
#zoom-8:checked ~ .backdrop {
    display: block;
}
.item-info {
    font-family: "Boogaloo", Arial, Helvetica, sans-serif;
    padding: 0 auto;
    margin: 0 auto;
}

.item-dimensions {
    padding: 0;
    margin: 0 auto;
    font-size: 2rem;
}

.important-banner {
    color: rgb(245, 8, 8);
    font-family: "Boogaloo", Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    text-align: center;
    margin: auto;
    padding: 0 auto;
    max-width: 500px;
}

.main-item-price {
    font-family: "Boogaloo", Arial, Helvetica, sans-serif;
    font-size: 3rem;
    text-align: center;
    margin: 0 auto;
    padding: 0;
}


